<p>The following error occured:</p>
<p>@Message</p>
@code {
    /// <summary>
    /// The error message to be displayed to the end user.
    /// </summary>
    [Parameter]
    public string Message { get; set; }
} 