@{
    // Message displayed when the client loses it's connection with SignalR.
}
<p>The application is unable to connect to the server at this time.</p>
<p>We will attempt to establish a connection every 30 seconds.</p>
<p>Alternatively, you can refresh this page to see if you can establish a connection.</p>