@{
    // Message displayed when the client is trying to reestablish it's connection with SignalR.
}
<p>The application is trying to connect to the server...</p>
<p>If it doesn't reconnect to the server after a certain amount of time, you can try refreshing the page to see if you can establish a connection with the server.</p>