@{
    // Loading animation for when something is happening in the background (normally communication with the API).
}
<div class="loader">
    <div class="loader-container"><div></div><div></div><div></div></div>
</div>